main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    height: 96vh;
    display: flex;
    justify-content: center;
}